<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
  </head>
  <body>
   <h1>REGISTER PAGE</h1>
   <form action ="/signup" method="post">
     <div>
       <label>EMAIL : </label>
       <input type="email" name="email"/>
     </div>
     <div>
       <label>PASSWORD : </label>
       <input type="password" name="password"/>
     </div>
     <div>
       <label>CONFIRM PASSWORD : </label>
       <input type="password" name="confirmPassword"/>
     </div>
     <div>
       <input type="submit" value="register"/>
     </div>
   </form>
  </body>
</html>
